
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
    <section class="content-header mt-2">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="error-page">
            <h2 class="headline text-danger">403</h2>

            <div class="error-content">
            <h3>
                <i class="fas fa-exclamation-triangle text-danger"></i>
                Access Denied!
            </h3>

            <p>
                You do not have permission to access this page.
                    Please return to the  <a href="javascript:history.back()">homepage</a> or contact support.
            </p>
            </div>
        </div>
        </div>
    </section>
